* {
    font-family: sans-serif;
    
}
body {
    margin: 100px;
}
h1 {
    color: red;
    text-decoration: underline;
    text-transform: none;
    text-align: center;
    border: 10px dotted blue;
    
}
img {
    width: 300px;
    border: 5px solid red;
    outline: 5px solid black;
    border-radius: 50px;
    
}
.img {
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* background-color: pink; */
    gap: 50px;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 50px; */
}